body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: rgb(244, 244, 146);
    flex-direction: column;
    margin: 0;
    background: url(bluergy.png);
}

.main {
    color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
   backdrop-filter: blur(15px);
   
}

h1 {
    color:rgba(255, 255, 255, 0.975);
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.register{
    color: white;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

button {
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    font-weight: bolder;
    font-size: larger;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}